.profile__main{
    height: 100vh;

}
.profile {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile img {
    max-width: 20%;
    max-height: 20%;
    border-radius: 20%;
}

.profile__name {
    margin-top: 5rem;
    font-size: xx-large;
}

.profile__btn {
    margin-top: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.6);
    background-color: #fff;
    border-radius: 7px;
    padding: 0.7rem 4rem;
}